#__next {
  background: #523158;
  min-height: 100vh;
  overflow: hidden;
}

.error-message {
  background: #523158;
  color: #fff;
}

.bg-wrapper {
  background: #523158
    url("https://static.skyassets.com/contentstack/assets/blt143e20b03d72047e/blt799bb50ccd638ac7/5eb16c2f2b5c250fd145da24/Watch_Hero_Desktop_Brassic2_(1).jpg?imageManager=true&width=1920")
    50% 5% no-repeat;
  height: 25rem;

  .search-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .add-movie-btn {
    color: #fff;
    border-color: #fff;
    background-color: #f652617d;

    &:hover,
    &:active {
      background-color: #f65261 !important;
      border-color: #f65261 !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem #f65261bd;
    }
  }
}

.title {
  padding-bottom: 2rem;
  padding-top: 2rem;
  color: #f65261;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  border-color: #dee2e6 !important;
  background-color: transparent !important;
  color: #dee2e6 !important;

  &:focus {
    box-shadow: 0 0 0 0.2rem #f652615e !important;
  }
}

.btn-outline-secondary {
  color: #dee2e6 !important;
  border-color: #dee2e6 !important;

  &:hover {
    background-color: #f65261 !important;
    border-color: #f65261 !important;
  }
}

.nav-pills .nav-link.active {
  background-color: #f65261 !important;
}

.nav-link {
  color: #fff;

  &:hover {
    color: #f65261;
  }

  &.active {
    color: #000 !important;
  }
}

.movies-count {
  margin-bottom: 1rem;
  color: #fff;
}

._7ahQImyV4dj0EpcNOjnwA {
  background: #737577;
}

.lhyQmCtWOINviMz0WG_gr,
._3vt7_Mh4hRCFbp__dFqBCI li:hover {
  background: #dae0e563;
  color: #000;
}
